BOT_TOKEN=your_telegram_bot_token
ALLOWED_USER_IDS=1234,5678

UNAUTHORIZED_MESSAGE=läski huora kys
INVALID_LINK_MESSAGE=Please send a valid link.
UPDATE_SUCCESS_MESSAGE=Link updated successfully to:
UPDATE_ERROR_MESSAGE=Failed to update the link.